@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bannerIcon {
    @apply w-16 h-16 bg-black bg-opacity-25 text-gray-200 text-xl inline-flex items-center justify-center rounded-md shadow-shadowOne hover:bg-opacity-40 hover:-translate-y-1 transition-all hover:text-designColor cursor-pointer duration-300;
  }

  .bgOpacity {
    @apply bg-black bg-opacity-40;
  }
  .contactInput {
    @apply w-full h-12 rounded-lg border-b-[1px] border-b-gray-600 bg-[#00000] text-formInputText px-4 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300;
  }
  .contactTextArea {
    @apply w-full rounded-lg border-b-[1px] border-b-gray-600 bg-[#00000] text-formInputText px-4 py-2 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300 resize-none;
  }
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

.active {
  color: white;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.rm-audio-player-provider {
  --rm-audio-player-interface-container: #000000; /* background container */
  --rm-audio-player-progress-bar: #e1bd8f; /* progress bar color */
  --rm-audio-player-track-current-time: #e1bd8f; /* current time */
  --rm-audio-player-track-duration: #c4cfde; /* duration text */
  --rm-audio-player-volume-thumb: #e1bd8f; /* volume thumb */
  --rm-audio-player-sortable-list-button-active: #e1bd8f; /* player list button */
}

* {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

.rbc-toolbar {
  color: black;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.rbc-toolbar-label {
  font-size: 1.5rem; /* adjust size as you like */
  font-weight: 700;  /* optional: make it bold */
}

.rbc-event {
  background-color: #e1bd8f !important; /* blue-600 */
  border-radius: 0.5rem;
  font-weight: 500;
}

.rbc-today {
  background-color: #dbeafe !important; /* blue-100 */
}